<!-- <a class="text-white pull-right" href="" data-toggle="modal" data-target="#model-submit-respond-put<%= Id %>" style="margin-right: 80px;">Submit</a>

<div class="modal fade in" id="model-submit-respond-put<%= Id %>">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Submit the respond</h4>
                </div>
            <div class="modal-body">
                <div class="input-group">
                    <p class="text-center"><b>Are you sure?</b></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success pull-right submitRespond">Submit</button>
            </div>
        </div>
    </div> 
</div> -->


<div class="input-group">
    <p class="text-center"><b>Are you sure?</b></p>
    <button type="submit" class="btn btn-success pull-right submitRespond">Submit</button>
</div>