<a class="text-black pull-right" href="" data-toggle="modal" data-target="#model-service-add" style="margin-right: 30px;">Add new service</a>

<div class="modal fade in" id="model-service-add">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add new service</h4>
                </div>
            <form role="form">
                <div class="modal-body">
                    <div class="input-group">
                        <div class="form-group">
                            <div class="col-sm-10">
                                <input placeholder="Description" name="Description" class="form-control" type="text" id="serviceDescrtiption"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success pull-right" style="margin-left: 30px;">Add</button>
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div> 
</div>