<form role="form">
    <div class="input-group">
        <div class="form-group">
            <div class="col-sm-10" id="after-this<%= Id %>">
                <div class="row">
                    <div class="col-lg-9">
                        <input placeholder="Description" name="Description" class="form-control" type="text" id="editServiceDescrtiption<%= Id %>" value="<%= Description %>"/>
                    </div>
                    <div class="col-xs">
                        <button type="button" id="createInputButton" class="btn btn-box-tool" data-original-title="Add new service classifer">
                            <i class="glyphicon glyphicon-plus text-primary"></i>
                        </button>
                    </div>
                </div>
                <div class="service-classifers-region"></div>
            </div>
        </div>
        <button type="submit" class="btn btn-success pull-right" style="margin-top: 30px;">Edit</button>
        <button type="button" class="btn btn-danger pull-left" id="removeService" style="margin-top: 30px;" >Remove</button>
    </div>
</form>