<div class="login-box">
    <div class="login-logo">
        <a href=""><b>Paw</b>liner</a>
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start be an admin</p>
    
        <form role="form">
        <div class="form-group has-feedback">
            <input type="text" name="UserName" class="form-control" placeholder="Login">
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            <input type="password" name="Password" class="form-control" placeholder="Password">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
            <div class="col-xs-8">

            </div>
            <div class="col-xs-4">
            <button type="submit" class="btn btn-success btn-block btn-flat">Sign In</button>
            </div>
        </div>
        </form>
    </div>
</div>