<a class="glyphicon glyphicon-ok" href="" data-toggle="modal" data-target="#model-admin-executor<%= Id %>"></a>

<div class="modal fade in" id="model-admin-executor<%= Id %>">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Executor #<%= Id %></h4>
            </div>
            <form role="form">
                <div class="modal-body">
                    <p>Submit this executor?</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success pull-right">Yes</button>
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">No</button>
                </div>
            </form>
        </div>
    </div> 
</div>