<header class="main-header">
        <nav class="navbar navbar-expand-lg fixed-top text-uppercase" style="background-color:#00a65a !important;">
            <div class="container">
                <div class="navbar-header">
                    <a href="" class="navbar-brand"><b>Paw</b>liner</a>
                </div>
            </div>
        </nav>
    </header>
    
<section class="content" style="margin-top: 100px; margin-left: 100px; margin-right: 100px">
    <div id="admin-region"></div>
</section>