<div class="row box" style="height: 100rem">
    <div class="col">
        <div class="box-header">
            <h2>Become an executor</h2>
        </div>
        <hr/>
        <div class="box-body">
            <div id="executor-block-region"></div>
        </div>
    </div>
</div>

<div class="modal fade in" id="model-create-executor">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Success</h4>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <p class="text-center">Successuly creating executor profile!</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success pull-right submitRespond" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div> 
</div>

