<div class="login-box">
    <div class="login-box-body">
        <p class="login-box-msg"><%= t.modules.main.views.login.label %></p>

        <form role="form">
            <div class="form-group has-feedback">
                <input id="buyers_email" name="buyers_email" type="text" class="form-control" placeholder="<%= t.modules.main.views.login.placeholder.buyers_email %>">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input id="buyers_password" name="buyers_password" type="password" class="form-control" placeholder="<%= t.modules.main.views.login.placeholder.buyers_password %>">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label for="autologin">
                          <input type="checkbox" id="autologin" name="autologin"> <%= t.modules.main.views.login.autologin %>
                        </label>
                    </div>
                </div>
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat"><%= t.modules.main.views.login.signinbutton %></button>
                </div>
            </div>
        </form>

    <!--    <div class="social-auth-links text-center">
          <p>- OR -</p>
          <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using
            Facebook</a>
          <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using
            Google+</a>
        </div>-->
        <!-- /.social-auth-links -->

    <!--    <a href="#">I forgot my password</a><br>
        <a href="register.html" class="text-center">Register a new membership</a>-->

    </div>
</div>