<div class="row">
    <div class="box font-weight-normal">
        <div class="box box-widget widget-user-2 text-white">
            <div class="widget-user-header"  style="background-color:#00a65a">
                <div class="row">
                    <div class="col">
                        <div class="widget-user-image">
                            <img class="img-circle" src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" alt="User Avatar">
                        </div>
                        <h2 class="widget-user-username"><b><%= Header %></b></h2> 
                        <h5 class="widget-user-desc"><%= OrderStatus %></h5>
                    </div>
                    <div class="col">
                        <div class="edit-order-block-region"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-body">
            <div class="row" style="margin-left: 100px; margin-bottom: 100px;">
                <div class="col">
                    <p><%= Description %></p>
                    <div id="gallery" style="margin-top: 30px;"></div>
                    <div class="add-photos-region"></div>
                </div>
                <div class="col col-lg-2">
                    <ul class="">
                        <li class="text-muted"><%= Name %></li>
                        <% if (Price === 'Deal') { %>
                        <li class="text-muted">Price <%= Price %></li>
                        <% } else { %>
                        <li class="text-muted"><%= Price %> р.</li>
                        <% } %>
                        <li class="text-muted"><%= ServiceDescription %></li>
                        <li class="text-muted"><%= PhoneNumber %></li>
                        <li class="text-muted"><%= City %>, <%= Address %></li>
                        <% if (Responds.length > 0) { %>
                        <li class="text-muted"><%= Responds.length %> откликов</li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col">
                    <p>Complete on <%= CompletedOn %> </p>
                </div>
                <div class="pull-right" style="margin-right: 50px;">
                    <div class="create-respond-block-region"/>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container respond-block-region"/>
