<div class="container">
    <form class="px-1 py-3" id="registerForm">
        <div class="dropdown-item form-group">
            <input type="text" class="form-control" id="login" placeholder="Login"/>
        </div>
        <div class="dropdown-item form-group">
            <input type="email" class="form-control" id="email" placeholder="Email"/>
        </div>
        <div class="dropdown-item form-group">
            <input type="password" class="form-control" id="password" placeholder="Password"/>
        </div>
        <div class="dropdown-item form-group">
            <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm password"/>
        </div>
        <div class="dropdown-item form-group">
            <button type="submit" id="submitRegister" class="btn btn-primary btn-block btn-flat">Sign in</button>
        </div>
    </form>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#" id="loginLink">Already have account?</a>
</div>