<form class="px-1 py-3" id="loginForm">
    <div class="dropdown-item form-group">
        <input type="text" id="usernameLogin" class="form-control" placeholder="Login"/>
    </div>
    <div class="dropdown-item form-group">
        <input type="password" id="passwordLogin" class="form-control" placeholder="Password"/>
    </div>
    <div class="dropdown-item form-group">
        <button type="submit" class="btn btn-success btn-block btn-flat">Sign in</button>
    </div>
</form>
<div class="dropdown-divider"></div>
<a class="dropdown-item" href="#">I forgot my password</a>
<a class="dropdown-item" href="#!/main/register" id="registerLink">Register a new account</a>