<!-- <button type="button" class="btn btn-block btn-success" data-toggle="modal" data-target="#modal-comment">Leave the comment</button>

<div class="modal fade in" id="modal-comment">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Leave the comment</h4>
                </div>
            <div class="modal-body">
                <div class="input-group">
                    <form role="form">
                        <textarea type="text" name="Content" id="contentComment" placeholder="Leave the comment..." class="form-control" style="height: 150px; margin-bottom: 10px;"></textarea>

                        <button type="submit" class="btn btn-success pull-right" style="margin-left: 30px;">Send</button>
                        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                    </form>
                </div>
            </div>
        </div>
    </div> 
</div> -->

<div class="input-group">
    <form role="form">
        <textarea type="text" name="Content" id="contentComment" placeholder="Leave the comment..." class="form-control" style="height: 150px; margin-bottom: 10px;"></textarea>

        <button type="submit" id="createComment" class="btn btn-success pull-right" style="margin-left: 30px;">Send</button>
        <!-- <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button> -->
    </form>
</div>