<div class="alert alert-warning alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h4><i class="icon fa fa-warning"></i> Attention!</h4>
    To make your profile open you need to send us document's photo of registration you as ST 
</div>
<form role="form" enctype="multipart/form-data">
    <div class="form-group">
        <div class="row">
            <div class="col">
                <div class="input-group">
                    <input type="text" class="form-control" disabled="disabled"> 
                    <span class="input-group-btn">
                        <div class="btn btn-default">
                            <input type="file" name="Document" accept="image/png, image/jpeg, image/gif, application/pdf" id="documentSoleTraderExecutor"/> 
                        </div>
                    </span>
                </div>  
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-block btn-success">Send</button>
            </div>
        </div>
    </div>
</form>