<form class="form-horizontal" role="form">
        <fieldset>
            <div class="form-group">
                    <div class="col-sm-10">
                        <input placeholder="First Name" value="<%= FirstName %>" data-fields="FirstName" name="FirstName" class="form-control" type="text" id="editFirstNameSoleTraderExecutor">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <input placeholder="Last Name" value="<%= LastName %>" name="LastName" class="form-control" type="text" id="editLastNameSoleTraderExecutor">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <input placeholder="Patronymic" value="<%= Patronymic %>" name="Patronymic" class="form-control" type="text" id="editPatronymicSoleTraderExecutor">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <textarea placeholder="Description" name="Description" class="form-control" type="text" style="height: 150px" id="editDescriptionSoleTraderExecutor"><%= Description %></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <input placeholder="Payer Account Number" value="<%= PayerAccountNumber %>" name="PayerAccountNumber" class="form-control" type="text" id="paymentNumberSoleTraderExecutor"/>
                    </div>
                </div>
                <!-- <div class="form-group">
                    <div class="col-sm-10">
                        <input placeholder="Phone number" name="Phone" class="form-control" type="text" id="phoneNumberSoleTraderExecutor"/>
                    </div>
                </div> -->
                <div class="form-group">
                    <div class="col-sm-10">
                        <div class="select-executor-service-region"></div>
                    </div>
                </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <div class="">
                        <button type="submit" class="btn btn-success" id="profileEditSoleTraderExecutorSubmit" style="width: 100px">Edit</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="width: 100px">Close</button>
                        <button type="button" class="btn btn-danger pull-right" id="removeSoleTraderExecutor" style="width: 100px">Remove</button>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>