<div class="box">
    <div class="box-header jumbotron">
        <div class="row" >
            <div class="col-md-2">
                <img class="img-thumbnail img-circle" src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" width="150" height="150">
            </div>
            <div class="col">
                <h2 class="box-title"><a href="#!/main/executor/<%= Id %>"><b><%= JuridicalExecutor.ShortJuredicalName %> <%= FirstName %> <%= LastName %></b></a></h2>
            </div>
        </div>
        <hr/>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col">
                <p><%= Description %></p>
            </div>
        </div>
    </div>
</div>