<div class="row box">
    <div class="col-lg-5">
        <div class="box-header">
            <h2>Sole trader</h2>
        </div>
        <hr/>
        <div class="box-body">
            <form class="form-horizontal" role="form" id="soleTraderForm">
                <fieldset>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input placeholder="First name" data-fields="FirstName" name="FirstName" class="form-control" type="text" id="FirstNameSoleTrader">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input placeholder="Last name" name="LastName" class="form-control" type="text" id="LastNameSoleTrader">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input placeholder="Patronymic" name="Patronymic" class="form-control" type="text" id="PatronymicSoleTrader">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <textarea placeholder="Description" name="Description" class="form-control" type="text" style="height: 150px" id="descriptionSoleTrader"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input placeholder="Payer account number" name="PayerAccountNumber" class="form-control" type="text" id="payerAccountNumberSoleTrader"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input placeholder="Phone number" name="PhoneNumber" class="form-control" type="text" id="phoneNumberSoleTrader"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <div class="select-executor-service-region"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <div class="">
                                <button type="submit" class="btn btn-success" id="becomeSoleTrader">Send to moderators</button>
                            </div>
                        </div>
                        
                    </div>
                </fieldset>
            </form>
            <div class="executor-services-region"></div>
        </div>
    </div>
</div>


