<!-- <button type="button" class="btn btn-block btn-success" data-toggle="modal" data-target="#modal-default" style="margin-right: 80px;">Leave a respond</button> -->

<!-- <div class="modal fade in" id="modal-default">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Leave the respond</h4>
                </div>
            <div class="modal-body">
                <div class="input-group">
                    <form role="form">
                        <textarea type="text" name="Content" id="contentRespond" placeholder="Leave the respond..." class="form-control" style="height: 150px; margin-bottom: 10px;"></textarea>

                        <button type="submit" class="btn btn-success pull-right" style="margin-left: 30px;">Send</button>
                        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                    </form>
                </div>
            </div>
        </div>
    </div> 
</div> -->

<div class="input-group">
    <form role="form">
        <textarea type="text" name="Content" id="contentRespond" placeholder="Leave the respond..." class="form-control" style="height: 150px; margin-bottom: 10px;"></textarea>
        <button type="submit" class="btn btn-success pull-right" style="margin-left: 30px;">Send</button>
    </form>
</div>