<div class="row">
    <div class="box">
        <div class="box-header jumbotron">
            <div class="row" >
                <div class="col-md-2">
                    <img class="img-thumbnail img-circle" src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" width="150" height="150">
                </div>
                <div class="col">
                    <h2 class="box-title"><b>ИП Солончук Виталий Александрович</b></h2>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="text-muted">Отзывы</p>
                </div>
                <div class="col">
                    <p class="text-muted">Заказы</p>
                </div>
                <div class="col">
                    <p class="text-muted">Фотографии</p>
                </div>
            </div>
            <hr/>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col">
                    <p>Добрый вечер,Дмитрий. Машина + опытные грузчики. Профессионалы! В любое удобное для Вас время. Цена указана за час работы авто и 2-х грузчиков с учетом кольцевой. Мин. заказ 2 часа.</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p><small class="text-muted">29 июля в 01:02</small></p>
                </div>
            </div>
        </div>
    </div>
</div>