<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">Services</a></li>
        <li><a href="#tab_2" data-toggle="tab" aria-expanded="false">Executors</a></li>
        <li><a href="#tab_3" data-toggle="tab" aria-expanded="false">Exceptions</a></li>
    </ul>
    <div class="tab-content">
        <!-- <div class="col-md-3">
            <div class="service-template-region"></div>
        </div> -->
        <div class="tab-pane active" id="tab_1">
            <div class="row">
                <div class="col">
                </div>
                <div class="col">
                    <label><small class="text-danger">If you removing service with orders then these orders will removing too. Remember.</small></label>
                    <div class="service-template-region"></div>
                </div>
                <div class="col text-black">
                    <div class="add-new-service-region"></div>
                </div>
            </div>
            <div class="tab footer">
                <!-- <div id="paginatorOrders"></div> -->
            </div>
        </div>
        <div class="tab-pane" id="tab_2">
            <div class="row">
                <div class="col-sm-1">
                      
                </div>
                <div class="col">
                    <div class="executor-table-region"></div>
                </div>
                <div class="col-sm-1">
                    
                </div>
            </div>
            <div class="tab footer">
                <!-- <div id="paginatorExecutors"></div> -->
            </div>
        </div>
        <div class="tab-pane" id="tab_3">
            <div class="row">
                <div class="col-sm-1">
                        
                </div>
                <div class="col">
                    <div class="exception-table-region"></div>
                </div>
                <div class="col-sm-1">
                    
                </div>
            </div>
            <div class="tab footer">
                <!-- <div id="paginatorExecutors"></div> -->
            </div>
        </div>
    </div>
</div>

<div id="modalui"></div>