
<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">Orders</a></li>
        <li><a href="#tab_2" data-toggle="tab" aria-expanded="false">Executors</a></li>
        <li class="pull-right">
            <a href="#!/main/placeorder" class="check-login text-success" id="placeOrderView">Place order</a>
        </li>
        <% if (window.app.model.get('roles') !== 'Executor') { %>
        <li class="pull-right">
            <a href="#!/main/becomeexecutor" class="check-login text-danger" id="becomeExecutorView">Become executor</a>
        </li>
        <% } %>
    </ul>
    <div class="tab-content">
        <div class="col-md-3">
            <!-- <div class="box box-default">
                    <div class="box-header with-border">
                        <a class="text-success" role="button" id="my-orders" aria-expanded="false">
                            My orders
                        </a>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                </div> -->
            <div class="service-template-region"></div>
        </div>
        <div class="tab-pane active" id="tab_1">
            <div class="row">
                <div id="order-template-region"></div>
            </div>
            <div class="tab footer">
                <div id="paginatorOrders"></div>
            </div>
        </div>
        <div class="tab-pane" id="tab_2">
            <div class="row">
                <div class="col-md-9">
                    <div id="executor-template-region"></div>
                </div>
            </div>
            <div class="tab footer">
                <div id="paginatorExecutors"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-danger fade in" id="model-user-login">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Sign in</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
            <div class="modal-body">
                <div class="modal-body">
                    <p>Sign in, please</p>
                </div>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button> -->
                <button type="button" class="btn btn-outline" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div> 
</div>

<div class="modal modal-danger fade in" id="model-executor">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                        <h4 class="modal-title">Executor</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
            <div class="modal-body">
                <div class="modal-body">
                    <p>You are already got executor account!</p>
                </div>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button> -->
                <button type="button" class="btn btn-outline" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div> 
</div>