<div class="box box-default" id="service-block-template">
    <div class="box-header with-border">
        <a class="" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            <%= Description %>
        </a>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
    </div>
    <div class="box-body collapsed">
        <div class="service-region"></div>
    </div>
</div>