<div class="box box-default">
    <div class="box-header with-border">
        <div class="row">
            <div class="col">
                <a class="" data-toggle="collapse" href="#collapseExample<%= Id %>" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <%= Description %>
                </a>
            </div>
            <div class="col-lg-2 text-black">
                <% if (window.app.model.get('roles') === 'Administrator' && !_.isEmpty(window.app.model.get('userId'))) { %>
                <button type="button" class="btn btn-box-tool" id="edit-service" data-original-title="Edit">
                    <i class="glyphicon glyphicon-wrench"></i>
                </button>
                <% } %>
            </div>
        </div>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
    </div>
    <div class="box-body collapse" id="collapseExample<%= Id %>">
        <div class="service-region"></div>
    </div>
</div>