<div class="box box-default">
    <div class="box-header with-border">
        <div class="row">
            <div class="col">
                <a class="" data-toggle="collapse" href="#collapseExample<%= Id %>" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <%= Description %>
                </a>
            </div>
            <div class="col-lg-2 text-black">
                <div class="edit-service-block"></div>
            </div>
        </div>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
    </div>
    <div class="box-body collapse" id="collapseExample<%= Id %>">
        <div class="service-region"></div>
    </div>
</div>